{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>

    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}
    </p>

    <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% for fm in form %}
            <div class="form-group">
                <label>{{ fm.label }}</label>
                {{ fm | attr:"class:form-control form-control-sm" }}
            </div>
        {% endfor %}  {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
        <button type="submit" class="btn btn-primary btn-block">{% trans "Sign Up" %} &raquo;</button>
    </form>

{% endblock %}
