{% extends 'template.html' %}

{% block title %}Delete Talent{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>Delete Talent</h1>
        <p>Are you sure you want to delete talent "{{ talent.name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'talent_list' project.id %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
